# Xcode
# Reference: https://github.com/github/gitignore/blob/main/Swift.gitignore

# Xcode User Data
xcuserdata/

# Build artifacts
.build/

# Swift Package Manager
Packages/
Package.resolved
.swiftpm/

# macOS
.DS_Store
